#nav-logo {
  position: relative;
  display: block !important;

  &:hover .amzns-list {
    display: block !important;
  }
}

#navbar.layout2.bold-focus-hover #nav-logo .nav-logo-link {
  width: auto !important;
}

.amzns-btn {
  background: none;
  border: none;
  color: inherit;
}

.amzns-list {
  top: 100%;
  right: 0;
}

.amzns-link {
  display: flex;
  padding: 3px 0;
  text-transform: uppercase;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;

  .icp-nav-flag {
    margin: 0 5px 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.amzns-price {
  display: inline-block;
  margin-left: 5px;
  font-size: .8em;
  color: black;
}

.amzns-in-page {
  display: inline-block;
  scale: .9;
  margin: 0;

  &:hover {
    text-decoration: none;

    .icp-nav-flag {
      scale: 1.2;
      transition: scale 300ms;
    }
  }

  .icp-nav-flag {
    transition: scale 300ms;
  }
}
